.loading-screen{
    position: fixed;
    align-content: center;
    height: 100%;
    width: 100%;
    background: rgba(12, 7, 7, 0.37);

    z-index: 3;
}

#loading-text{
    position: relative;
    top:40%;
    text-align: center;
    color: rgb(238, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}