.loading-screen{
    position: fixed;
    align-content: center;
    top: 0%;
    height: 100%;
    width: 100%;
    background: rgba(12, 7, 7, 0.856);

    z-index: 10;
}

#loading-text{
    position: relative;
    top: 45%;
    text-align: center;
    color: rgb(238, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}