.task-bar {
    position: fixed;
    left: 15%;
    bottom: 0;
    width: 100%;
    height: 5%;
    align-items: center;
    background-color: rgb(22, 1, 32);
    color: white;
 }
 .os-info{
     position: fixed;
     right: 0;
     font-size: 20px;
 }

 .developer{
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    right: 0px;
    bottom: 0px;
    font-size: 8px;
}



