.rename-screen{
    position: fixed;
    //align-content: center;
    top:0%;
    height: 100%;
    width: 100%;
    background: rgba(12, 7, 7, 0.856);

    z-index: 10;
}

.rename-pannel{
    position: absolute;
    left: 41%;
    top: 42%;
    font-size: medium;
}

.rename-error-message{
    position: absolute;
    color: red;
    font-size: medium;
  }  