
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

.error-message{
  color: red;
}  

.loading-message{
  color: green;
  position: absolute;
  top:45% ;
  left: 45%;
  font-size: large;
}  