
 .desktop-item {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 60px;
    display:block;

 }

#icon-image{
  max-height: 50px;
  max-width: 50px;
  opacity:1;
          &:hover {
            opacity:0.5;
       }

}


#title{
  position: relative;
  padding-top: 5px;
  font-size: 9px;

  
}


